@font-face {
  font-family: 'Mali';
  src: url('./assets/font/Mali/Mali-Medium.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mali', sans-serif;
  margin: 0;
}

[class^="ant-"],
[class*=" ant-"] {
    font-family: 'Mali', sans-serif;
}